{% extends 'staffbase.html' %}
{% load static %}
{% block staff %}
<div class="container mt-5">
    <h2 class="text-center mb-4">All Notifications</h2>
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %}
    
    {% if notifications %}
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th>Message</th>
                <th>Created At</th>
                
            </tr>
        </thead>
        <tbody>
            {% for note in notifications %}
            <tr>
                <td>{{ note.message }}</td>
                <td>{{ note.created_at|date:"Y-m-d H:i" }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-center">No notifications found.</p>
    {% endif %}
</div>
{% endblock %}
